.CFUserTextEncoding
.DS_Store
.Trash
.Xcode
.adobe
.android
.appcfg_cookies
.appcfg_nag
.bash_history
.dropbox
.gdb_history
.gradle
.lesshst
.nchsoftware
.sh_history
.ssh
.subversion
.vim*
Applications
Desktop
Documents
Downloads
Dropbox
Installers
Library
Movies
Music
OpenSource
Pictures
Public
Sites
Workspace
contestapplet*