[user]
  name = Tiago Fernandez
  email = tiago.fernandez@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = vim
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg-json = log --no-merges --pretty=format:'\"%h\": {%n \"refs\": \"%d\",%n \"commit\": \"%H\",%n \"author\": \"%an <%ae>\",%n \"date\": \"%ad\",%n \"message\": \"%s\",%n \"details\": \"%b\"%n}'
  list-merged = !git branch --all --merged remotes/origin/master | grep --invert-match master | grep --invert-match HEAD | grep \"remotes/origin/\" | egrep -v \"(^\\*|develop)\" | cut -d \"/\" -f 3-
  list-no-merged = !git branch -r --no-merged | grep -v HEAD | egrep -v \"(^\\*|master|develop)\"  | xargs -L1 git --no-pager log --pretty=tformat:\"%Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)\" -1
  delete-merged = !git list-merged | xargs -n 1 git push --delete origin
[credential]
  helper = osxkeychain
[push]
  default = simple
[merge]
  tool = ksdiff
[mergetool "ksdiff"]
  cmd = ksdiff -w $BASE $LOCAL $REMOTE $MERGED
[mergetool "sourcetree"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[diff]
  tool = ksdiff
[difftool]
  prompt = false
[difftool "ksdiff"]
  cmd = ksdiff $LOCAL $REMOTE
[difftool "sourcetree"]
  cmd = ksdiff -w \"$LOCAL\" \"$REMOTE\"
