[user]
  name = Tiago Fernandez
  email = tiago.fernandez@gmail.com
[merge]
  tool = opendiff
[core]
  excludesfile = ~/.gitignore
  editor = subl -w
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lg-json = log --no-merges --pretty=format:'\"%h\": {%n \"refs\": \"%d\",%n \"commit\": \"%H\",%n \"author\": \"%an <%ae>\",%n \"date\": \"%ad\",%n \"message\": \"%s\",%n \"details\": \"%b\"%n}'
